* {
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  /* width: 150px; */
  padding-left: 99px;
  padding-top: 20px;
  font-size: 55px;
  color: #f4f5f4;
  animation-name: slideIn;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

h1 {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
}

h1 {
  background: linear-gradient(
    to right,
    #7953cd 20%,
    #00affa 30%,
    #0190cd 70%,
    #764ada 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}
body {
  background: rgb(0, 0, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 145, 1) 25%,
    rgba(3, 0, 255, 1) 50%,
    rgba(1, 0, 145, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 145, 1) 25%,
    rgba(3, 0, 255, 1) 50%,
    rgba(1, 0, 145, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(1, 0, 145, 1) 25%,
    rgba(3, 0, 255, 1) 50%,
    rgba(1, 0, 145, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

nav {
  color: aliceblue;
  text-align: right;
  padding-top: 5vh;
  margin-right: 10vh;
  /* position:; */
}

.new {
  height: 100px;
  width: 100px;
}

h2 {
  /* font-family: "PT Sans", sans-serif; */
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  font-size: 50px;
  position: absolute;
  margin-left: 600px;
  color: #0a1c8f;
  margin-top: 20px;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.link {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  padding: 10px 15px;
  position: static;
  margin-right: 10px;
  font-size: 20px;
  color: aliceblue;
  /* font-family: "PTsss Sans", sans-serif; */
  border: 1px solid aliceblue; /* Add border */
  transition: border-color 0.3s ease; /* Add transition for smooth animation */
}

.link:hover {
  color: #ff7f50;
  border-color: #ff7f50; /* Change border color on hover */
  border-radius: 10px;
}
.Section1 {
  background-color: rgba(255, 255, 255, 0.818);
  display: flex;
  height: 550px;
  width: 1400px;
  margin-left: 65px;
  margin-top: 50px;
  border-radius: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img1 {
  margin-top: 15px;
  width: 260px;
  margin-left: 35px;
  position: absolute;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  border-radius: 15%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img2 {
  width: 230px;
  margin-left: 340px;
  margin-top: 260px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info1 {
  padding-top: 120px;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  display: inline-block;
  padding-left: 40px;
  margin-right: 60px;
}

.clr1 {
  background-color: #aebddc;
  /* border: 10px solid #0707ca2d; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  padding: 30px;
}

.Section2 {
  background-color: rgba(255, 255, 255, 0.818);
  display: flex;
  height: 550px;
  width: 1400px;
  margin-left: 65px;
  margin-top: 235px;
  margin-bottom: 50px;
  border-radius: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.clr2 {
  background-color: #aebddc;
  /* border: 10px solid #0707ca2d; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  padding: 20px;
}

.info2 {
  padding-top: 105px;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  display: inline-block;
  padding-left: 60px;
  margin-right: 86px;

  margin-left: 22px;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;

  width: 30%;
  /* padding:  0%; */
  margin: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.imgcenter {
  /* padding: 30px; */
  padding-left: 150px;
  padding-top: 20px;
}

.Section3 {
  background-color: rgba(255, 255, 255, 0.818);
  display: flex;
  height: 550px;
  width: 1400px;
  margin-left: 65px;
  margin-top: 235px;
  margin-bottom: 50px;
  border-radius: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.info3 {
  padding-top: 120px;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  display: inline-block;
  padding-left: 0px;
  margin-right: 40px;
  margin-left: 750px;
}

.clr3 {
  background-color: #aebddc;
  /* border: 10px solid #0707ca2d; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  padding: 35px;
}

.cen {
  font-family: "PT Sans", sans-serif;
  font-size: 50px;
  position: absolute;
  margin-left: 600px;
  color: #0a1c8f;
  margin-top: 20px;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.Section4 {
  background-color: rgba(255, 255, 255, 0.818);
  display: flex;
  height: 550px;
  width: 1400px;
  margin-left: 65px;
  margin-top: 235px;
  margin-bottom: 50px;
  border-radius: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.clr4 {
  background-color: #aebddc;
  /* border: 10px solid #0707ca2d; */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
  padding: 35px;
}

.info4 {
  padding-top: 120px;
  font-family: "Inconsolata", monospace;
  font-size: 25px;
  display: inline-block;
  padding-left: 73px;
  padding-right: 323px;
  margin-right: 500px;
  /* margin-left: 550px;
  /* margin-left: 550px; */
}

.cen2 {
  font-family: "PT Sans", sans-serif;
  font-size: 50px;
  position: absolute;
  margin-left: 600px;
  color: #0a1c8f;
  margin-top: 20px;
  animation-name: slideIn;
  animation-duration: 2s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.Section1:hover,
.Section2:hover,
.Section3:hover,
.Section4:hover,
#Section5:hover {
  transform: scale(1.03);
  transition: transform 0.5s ease, border-color 0.3s ease; /* Add transition for smooth animation */
}

.info1:hover,
.info2:hover,
.info3:hover,
.info4:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease, border-color 0.3s ease; /* Add transition for smooth animation */
}

.img2:hover,
.img1:hover,
.row:hover,
.column:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease, border-color 0.3s ease; /* Add transition for smooth animation */
}

img:hover {
  transform: scale(1.15);
  transition: transform 0.5s ease, border-color 0.3s ease; /* Add transition for smooth animation */
}

h2 {
  /* Existing styles */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid #0a1c8f;
  padding-bottom: 5px;
}

.Section1,
.Section2,
.Section3,
.Section4 {
  background-color: #dde9f4;
}
#Section5 {
  background-color: rgba(255, 255, 255, 0.818);
  display: flex;
  height: 200px;
  width: 1400px;
  margin-left: 65px;
  margin-top: 235px;
  margin-bottom: 50px;
  border-radius: 48px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-family: Arial, sans-serif; /* Adjust font family as needed */
}

.footer-navigation,
.footer-contact,
.footer-social {
  margin: 30px;
  letter-spacing: 3px;
  margin-left: 100px;
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "XROT" 0, "YROT" 0;
  font-size: 15px;
}

.footer-navigation h3,
.footer-contact h3,
.footer-social h3 {
  color: #04032f;
  margin-bottom: 15px;
}

.footer-navigation ul,
.footer-social .social-icons {
  list-style: none;
  padding: 0;
}

.footer-navigation ul li,
.social-icon {
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.footer-navigation ul li a,
.social-icon {
  color: #04032f;
  text-decoration: none;
}

.social-icon {
  display: inline-block;
  padding: 8px;
  background-color: #ffffff;
  margin-right: 5px;
}

.social-icon:hover,
.footer-navigation ul li a:hover {
  transform: scale(1.1);
}

.footer-art canvas {
  max-width: 100px;
  height: auto;
  margin-top: 20px;
}

@media (max-width: 600px) {
  #picassoFooter {
    flex-direction: column;
    align-items: center;
  }

  .footer-art canvas {
    max-width: 100%;
  }
}

.clr1,
.clr2,
.clr3,
.clr4 {
  background-color: #f4f5f4;
}
.link2:hover {
  /* Add hover styles here */
  color: #ff7f50;
  transition: text-decoration 0.3s ease;
  text-decoration: underline;
}
